doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../main.css")
        //- Bootstrap icon
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css")
        link(rel="stylesheet", href="ikonlar.css")
        //- Bootstrap icon
    body 
        header
            div.container.header
                div.header__items
                    div.header__subtitle
                        h2 FU
                        p FU
                    div.line-item
                    p Something about lemon
                div.header__item
                    img(src="../img/Group.png", alt="")
                    p how to eat
        section
            div.container
                img(src="../img/LEMON.png", alt="")
                div
                    div
                        p 1/12
                    div
                        i.bi.bi-chevron-left
                        i.bi.bi-chevron-right
                div
                    img(src="../img/cw1MAVs4wV8.png", alt="")
                div
                    div 
                    div 
                    i.bi.bi-search